<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/fantasque-sans-mono"
      type="text/css"
    />
    <style>
      body {
        padding: 0 0 0 2rem;
      }

      html {
        font-family: "FantasqueSansMonoRegular";
        font-weight: normal;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <cross-stout-scripting scale="3.6"></cross-stout-scripting>
    <script type="module" src="./cross-stout-scripting.js"></script>
  </body>
</html>
